# python envs
.venv
venv

# python caches
*__pycache__

# other caches
unsloth_compiled_cache

# output
fine-tuned-model

# private data and code
notes/
data/
obsolete/

# WIP guides
FINETUNE_GUIDE.md