# python envs
.venv
venv

# python caches
*__pycache__

# other caches
unsloth_compiled_cache

# output
fine-tuned-model

# logs
logs

# private data and code
notes/
data/
obsolete/
config/.env.local

# WIP guides
FINETUNE_GUIDE.md